<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)=goBack()>
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{item.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img [src]=item.photo></ion-img>

  <ion-item>
    <ion-label>{{item.category}}</ion-label>
    <ion-label class="alignright">${{item.price}}</ion-label>
  </ion-item>
  <ion-item>
    {{item.description}}
  </ion-item>

  <ion-item>
    <ion-label>How many would you like to order?</ion-label>
  </ion-item>

  <ion-item>
    <ion-range min="1" max="20" step="1" pin='true'  [(ngModel)]="order.quantity">
        <ion-icon size="small" slot="start" name="sunny"></ion-icon>
        <ion-icon slot="end" name="sunny"></ion-icon>
      </ion-range>
    <p>quantity:{{order.quantity}}</p>
  </ion-item>

  <!-- <ion-item> -->
    <ion-button (click)="orderMe()" expand="block">
      <ion-icon name="add-circle"></ion-icon>
      <!-- slot="icon-only"  -->
    </ion-button>
  <!-- </ion-item> -->

</ion-content>
