<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ProductListPage">
      <ion-icon name="Storefront"></ion-icon>
      <ion-label>Store</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="OrderListPagePage">
      <ion-icon name="Cart"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ProfilePage">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="OrderListPagePage">
      <ion-icon name="skull"></ion-icon>
      <ion-label>Order</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
