<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Order Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let order of (orders | async)" (click)="viewOrder(order)">
      <ion-thumbnail slot="start">
        <ion-img [src]=order.photo></ion-img>
      </ion-thumbnail>
      <ion-label>{{order.id}}</ion-label>
      <!-- Not needed -->
      <!-- <ion-label>{{order.name}}</ion-label> -->
      <ion-label>{{order.quantity}}</ion-label>
      <ion-label>${{order.amount}}</ion-label>
      <ion-label>{{order.date}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
