<ion-header>
  <ion-toolbar>
    <!-- Don't need this button here -->
    <!-- <ion-buttons slot="secondary">
      <ion-button (click)=goBack()>
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->

    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- These show if the user is logged in already -->
  <ion-button *ngIf="signedIn" expand="block" (click)="logOut()">Log Off</ion-button>

  
  <!-- These show if the user is not logged in -->
  <ion-item>
    <ion-label *ngIf="!signedIn" color="primary" position="floating">email</ion-label>
    <ion-input *ngIf="!signedIn" type="text" [(ngModel)]="user.email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label *ngIf="!signedIn" color="primary" position="floating">password</ion-label>
    <ion-input *ngIf="!signedIn" type="text" [(ngModel)]="user.password" required></ion-input>
  </ion-item>

  <ion-button *ngIf="!signedIn" class="submit-btn" expand="block" type="submit" (click)="signInWithEmail(user.email,user.password)" >Login</ion-button>

  <ion-item>
    <ion-grid>
      <ion-button *ngIf="!signedIn" class="submit-btn" (click)="loginGoogle()">Google Login</ion-button>
      <ion-button *ngIf="!signedIn" (click)="signup()">Sign Up</ion-button>
    </ion-grid>
  </ion-item>

</ion-content>