<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)=goBack()>
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{order.item.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img [src]=order.item.photo></ion-img>

  <ion-item>
    ${{order.item.price}}
  </ion-item>
  <ion-item>
    {{order.item.description}}
  </ion-item>

  <ion-item>
    {{order.quantity}} total for ${{order.total}}
  </ion-item>

  <ion-item>
    <ion-button (click)="orderMe()" expand="block">
      <ion-icon name="remove">Remove item from cart</ion-icon>
    </ion-button>
  </ion-item>

</ion-content>
