<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)=goBack()>
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{item.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]=item.photo></ion-img>

  <ion-item>
    ID: {{item.id}}
  </ion-item>
  <!-- This doesn't exist anymore -->
  <!-- <ion-item>
    {{order.item.description}}
  </ion-item> -->

  <ion-item>
    {{item.quantity}} total for ${{item.amount}}
  </ion-item>
  <ion-item>
    {{item.date}}
  </ion-item>

  <!-- Don't need this anymore -->
  <!-- <ion-item>
    <ion-button (click)="orderMe()" expand="block">
      <ion-icon name="remove">Remove item from cart</ion-icon>
    </ion-button>
  </ion-item> -->

</ion-content>
